.sidenav {
  height: 100vh;
  width: 60px;
  flex: 0 0 60px;
  z-index: 999;
  background-color: var(--dark-blue);
  color: var(--font-color);
  overflow-x: hidden; /* disable horizontal scrolling */
  padding: 70px 0px;
  text-align: center;
  transition: all 300ms ease;

  .nav-item {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 5px auto;
    padding: 12px 10px;
    background-color: #FFF;
    transition: all 300ms ease;

    &.selected {
      // background-color: rgba(9, 30, 66, 0.04);
      background-color: var(--dark-blue);
    }

    &:hover {
      background-color: var(--blue);
      // background-color: rgba(9, 30, 66, 0.04);
    }
  }
}
