.landing-page {
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: .2px;
  font-family: Heebo,sans-serif;
  -webkit-font-smoothing: antialiased;

  p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}
