.dropdowns {
  margin: 0 auto;
  flex-wrap: wrap;

  .row {
    display: flex;
    width: 100%;

    > div {
      flex: 1;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    p {
      flex: 0 0 calc(100%);
    }
  }
}
