.game-details {
  padding: 0 0 30px;

  .completed {}

  .scheduled {}

  .tabs {
    margin-top: 15px;
    padding: 0 65px;
  }

  .section {
    margin-top: 15px;
    overflow-y: auto;
    height: calc(100vh - 150px);
    padding: 0 65px 100px 65px;
  }
}
