.game-details {
  .completed {

  }

  .scheduled {

  }
  
  .tabs {
    margin-top: 15px;
    padding: 0 65px;
  }

  .section {
    margin-top: 15px;
    overflow-y: scroll;
    height: calc(100vh - 150px);
    padding: 0 65px 25px 65px;
  }
}
