// Default buttons
.btn {
  display: inline-block;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 200ms ease;

  &.primary {
    border: 1px solid var(--dark-blue);
    background-color: var(--blue);
    &:hover {
      background-color: rgba(38, 110, 175, 0.9);
    }
  }

  &.secondary {
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: #FFF;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-property: color, background-color;
    &:hover {
      background-color: var(--blue);
      color: #FFF;
    }
  }

  // flat button
  &.flat {
    border: none;
    color: var(--blue);
    background-color: #FFF;
    &:hover {
      box-shadow: 0 2px 3px var(--light-gray);
      transform: translateY(-1px);
    }
  }

  // disabled button
  &.disabled {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    cursor: not-allowed;
  }
}

// Toggle button
.toggle {

  .box {
    width: 60px;
    height: 30px;
    // border: 1px solid var(--dark-gray);
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: all 200ms ease;
    // change background color of toggle button
    &.unchecked {
      background: var(--light-gray);
    }
    &.checked {
      background: var(--blue);
    }

    // style for toggle button
    &:before {
      font-family: "FontAwesome";
      box-shadow: 1px 1px 1px var(--gray);
      content: attr((data-background-unchecked));
      color: var(--dark-gray);
      text-align: center;
      line-height: 25px;
      font-size: 11px;
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 15px;
      background: #FFF;
      left: 2.5px;
      top: 3px;
      transition: all 200ms ease;
    }
  }
  // clear default checkbox
  input {
    opacity: 0;
  }
  // offset pseudoselector when checked
  input[type=checkbox]:checked + .box:before {
    box-shadow: 1px 1px 1px var(--dark-blue);
    color: var(--blue);
    left: 31.5px;
    content: attr((data-background-checked));
  }
}
