.model-details {

  .labels {
    margin: 0;
    padding: 20px 40px;
    background-color: var(--navy-blue);
    color: #fff;
    border-radius: 3px 3px 0 0;
    text-align: center;

    .fa-required {
      color: var(--red);
      font-size: 6px;
      margin-left: 4px;
      margin-top: -2.4px;
      vertical-align: middle;
    }
  }

  .values {
    margin: 0;
    padding: 20px 40px;
    text-align: center;
  }
}
