.account-settings {
  .row {
    margin: 0 0 20px;
  }

  .end-row {
    margin: 0 0 40px;
  }

  .col {
    width: 150px;
  }

  .error-dialog {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .28), 0 0 1px rgba(9, 30, 66, .3);
    font-size: 11px;
  }
}
