.account-settings {
  .row {
    margin: 0 0 20px;
  }

  .end-row {
    margin: 0;
  }

  .col {
    width: 150px;
  }

  .error-dialog {
    padding: 20px;
    text-align: center;
    box-shadow: var(--box-shadow);
    font-size: 11px;
  }
}


.change-payment {
  position: absolute;
  top: -60px;
  right: 25px;
}
