.wrapper {
  width: 100%;
  position: relative;

  .fill {
    position: absolute;
    height: 6px;
    top: 0;
    left: 0;
    border: 0.2px solid var(--blue);
    border-radius: var(--border-radius);
    background-color: var(--blue);
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: linear-gradient(to right, var(--blue) 0%, var(--blue) 0%, var(--lightest-gray) 100%);
    outline: none;
    position: relative;

    &:focus, &:hover {
      outline: none;
      &:not(.disabled) {
        &::-webkit-slider-thumb {
          // focus selector on thumb
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px transparent;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
          transform: scale(1.2);
          box-shadow: 0 0 20px var(--dark-blue);
        }
      }
    }

    // style thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid var(--dark-blue);
      margin-top: -3px;
      height: 13px;
      width: 13px;
      border-radius: 50px;
      background-color: var(--blue);
    }
    // style track
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      background-color: var(--lightest-gray);
      border: 0.2px solid #eee;
      border-radius: var(--border-radius);
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &.disabled {
      &::-webkit-slider-thumb {
        background-color: var(--gray);
        border: 1px solid var(--dark-gray);
      }
      &::-webkit-slider-runnable-track  {
        cursor: not-allowed;
      }
      &::-ms-track {
        cursor: not-allowed;
      }
    }
  }
}
