.schedule {

  h1 {
    padding: 25px 0;
  }

  .header {
    margin: 25px 0;

    &:first-child {
      margin-top: 0;
    }

    h4 {
      color: var(--blue);
    }
  }

  .schedule-month {
    border-radius: var(--border-radius);
    margin-bottom: 50px;
    padding: 0 10px;

    .row {
      padding: 10px 10px;
      margin: 0;
      border-radius: var(--border-radius);

      &.label {
        border-bottom: 1px solid var(--lightest-gray);
      }

      &.values {
        cursor: pointer;
        background-color: var(--lightest-gray);

        &:hover {
          transition: all 200ms ease;
          color: var(--blue);
        }

        &:nth-child(2n) {
          background-color: #fff;
        }
      }
    }
  }
}
