.settings-nav {
  background-color: #fff;
  height: 100%;
  width: 180px;
  border-right: 1px solid var(--light-gray);

  .header {
    text-align: center;
  }

  hr {
    background-color: var(--light-gray);
    border: none;
    height: 1px;
    margin: 20px auto 60px;
    width: 80%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    position: relative;
    transition: all 200ms ease;
    color: var(--gray);
    cursor: pointer;

    &:hover {
      color: var(--font-color);
    }

    &.selected {
      cursor: default;
      border-left: 5px solid var(--red);
      color: var(--font-color);
      border-top: 1px solid var(--lightest-gray);
      border-bottom: 1px solid var(--lightest-gray);
    }
  }
}
