.settings-nav {
  background-color: var(--lightest-gray);
  height: 100%;
  width: 180px;
  border-radius: var(--border-radius);
  padding: 5px 0;

  .header {
    text-align: center;
  }

  hr {
    background-color: var(--light-gray);
    border: none;
    height: 1px;
    margin: 20px auto 60px;
    width: 80%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    transition: all 200ms ease;
    color: var(--font-color);
    cursor: pointer;
    font-weight: 600;

    &:hover {
      .icon {
        opacity: 0.9;
      }
    }

    &.selected {
      cursor: default;
      color: var(--blue);
    }

    .icon {
      margin-right: 10px;
      opacity: .5;

      &.selected {
        opacity: 1;
      }
    }
  }
}
