.model-specs {
  padding-top: 20px;

  .model-create-row {
    display: flex;
    justify-content: flex-start;
    padding: 40px 0;

    .label {
      display: flex;
      flex: 1;

      span {
        margin: 2px 0 0 8px;
      }
    }

    .input {
      flex: 4;

      .specs-container {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .specs-label {
          display: flex;
          align-items: center;
          flex: 1;
          text-transform: uppercase;
        }

        .specs-slider {
          flex: 2;
          padding-right: 5%;
        }
      }
    }
  }

  .cta {
    text-align: right;
  }

  .specs-error {
    text-align: right;
    padding-right: 25px;
    color: var(--red);
  }
}
