.model-specs {
  .labels {
    margin: 0;
    padding: 20px 40px;
    background-color: var(--navy-blue);
    color: #fff;
    border-radius: 3px 3px 0 0;
  }

  .values {
    margin: 0;
    padding: 20px 40px;

    .slider-row {
      margin: 20px 0;
    }
  }

  .footer {
    margin: 0;
    padding: 0 20px 20px;

    .submit-button {
      position: absolute;
      top: 0;
      left: -99999px;

      &.show {
        position: relative;
      }
    }

    .disabled-button {
      position: absolute;
      top: 0;
      left: -99999px;

      &.show {
        position: relative;
      }
    }
  }
}
