.signup {
  .signup-header {
    margin: 30px 0;
  }
  .signup-container {
    margin-top: 15px;
    background-color: #fff;
    text-align: left;

    .error-dialog {
      font-size: 11px;
      box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .28), 0 0 1px rgba(9, 30, 66, .3);
      text-align: center;
      padding: 20px;
      margin-top: 20px;
    }
  }

  .login-link {
    text-align: center;
    margin: 25px 0;
  }
}
