.input {
  display: inline-block;
  height: 40px;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
  transition: all 200ms ease;
  padding: 0 10px;
  margin: 8px 0;

  &:focus {
    border: 1px solid var(--dark-blue);
    box-shadow: .1px .1px 1px 0.2px var(--blue);
  }
  // Errored input
  &.error {
    border: 1px solid var(--red);
    box-shadow: .1px .1px 1px 0.2px var(--red);
  }

  &.shouldFitContainer {
    width: 100%;
  }
  // Required input
}
