.wrapper {
  position: relative;

  .icon {
    position: absolute;
    top: 35px;
    right: 10px;
    color: var(--red);
    &.noLabel {
      top: 13px;
    }
  }

  .fa-required {
    color: var(--red);
    font-size: 6px;
    margin-left: 4px;
    margin-top: -2.4px;
    vertical-align: middle;
  }

  .input {
    display: inline-block;
    height: 40px;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-gray);
    transition: all 200ms ease;
    color: var(--font-color);
    padding: 0 30px 0 10px;
    outline: none;
    background-color: var(--lightest-gray);

    &:focus {
      border: 1px solid var(--dark-blue);
      background-color: #FFF;
      box-shadow: .1px .1px 1px var(--blue);
    }
    // Errored input
    &.error {
      border: 1px solid var(--red);
      background-color: #FFF;
      box-shadow: .1px .1px 1px var(--red);
    }

    &.disabled {
      cursor: not-allowed;
      &::placeholder {
        color: var(--gray);
      }
    }

    &.shouldFitContainer {
      width: 100%;
    }
    // Required input
  }
}
