.player-stats {
  .players-container {
    display: flex;
    justify-content: space-between;
    // margin-right: 30px;
    min-width: 165px;

    &.stats {
      overflow-x: scroll;
      margin: 0;
      flex: 1;
    }

    .statKey {
      text-align: center;
      white-space: nowrap;
      background-color: #fff;

      &.hovered {
        background-color: var(--lightest-gray);
      }
    }

    .players-label {
      margin: 15px;
    }
    .players-value {
      // margin-bottom: 15px;
      height: 30px;
      display: flex;
      align-items: center;

      &.stat {
        justify-content: center;
      }

      &.hovered {
        background-color: var(--lightest-gray)
      }
    }
  }
}
