.player-stats {
  .players-container {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    min-width: 130px;

    &.stats {
      overflow-x: scroll;
      margin: 0;
      flex: 1;
    }

    .statKey {
      text-align: center;
      white-space: nowrap;

      .players-label {
        margin: 15px;
      }
      .players-value {
        margin-bottom: 15px;
      }
    }
  }
}
