.player-stats {
  .players-container {
    display: flex;
    justify-content: space-between;
    // margin-right: 30px;
    min-width: 165px;

    &.stats {
      overflow-x: auto;
      margin: 0;
      flex: 1;
    }

    .stat-column {
      text-align: center;
      white-space: nowrap;
      background-color: #fff;
      transition: all 500ms ease;
    }

    .label {
      padding: 15px 15px 7.5px;
      border-bottom: 1px solid var(--lightest-gray);
      position: relative;

      &.players {
        cursor: default;
      }

      &.stats {
        cursor: pointer;
        transition: all 400ms ease;

        &:hover {
          border-bottom: 1px solid var(--dark-gray);
        }

        &.selected {
          border-bottom: 1px solid var(--blue);
          padding: 15px 15px 7.5px 5px;
        }
      }

      .carat {
        transition: transform 400ms ease;
        position: absolute;
        top: 46%;
        right: 2px;

        &.descending {
          transform: rotate(180deg);
        }
      }
    }

    .value {
      padding: 15px 0 15px;
      cursor: default;

      &.players {
        padding-left: 15px;
      }

      &.stat {
        justify-content: center;
      }

      &.first {
        border-radius: 3px 0 0 3px;
      }

      &.last {
        border-radius: 0 3px 3px 0;
      }

      &.hovered {
        background-color: var(--lightest-gray);
      }
    }
  }
}
