.login-container {
  border: 1px solid var(--dark-blue);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 1px var(--dark-blue);
  background-color: #fff;
  padding: 15px 45px;
  text-align: left
}
