.subscription-plan {

  .icon-row {
    margin-bottom: 15px;
  }

  .plan-details {
    padding: 0 10px;

    .price {

      .dollar {
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 35px;
      }

      .amount {
        margin: 0 4px;
        font-size: 4.0rem;
      }
    }


    .features {

    }
  }


  .submit-button {
    width: 50%;
    margin-top: 20px;

    &.advanced {
      width: auto;
    }
  }
}
