.match-section {
  margin: 0 60px;

  .matches-container {
    margin-top: 10px;
    overflow-y: scroll;
    height: 80vh;
    width: 100vw;
  }

  .match-container {
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    margin: 10px 0;
    padding: 5px 30px;
    transition: all 200ms ease;
    transform: perspective(1px) translateZ(0);
    background-color: #FFF;
    height: 140px;
    box-shadow: 0 6px 8px -6px var(--gray);

    &:hover {
      // something
    }
  }

  .col-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
