.settings-subsection {
  padding: 25px;
  background-color: #fff;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: 1px 2px 8px var(--gray);

  .section-header {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
  }

  .section-body {
  }

  hr {
    border: none;
    height: 1px;
    background-color: var(--lightest-gray);
    margin: 25px -25px;
  }
}
