.settings-subsection {
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  margin-bottom: 25px;
  // box-shadow: var(--box-shadow);

  .section-header {
    display: flex;
    padding: 25px;
    align-items: center;
    border-bottom: 1px solid var(--lightest-gray);
    color: var(--font-color);
    font-weight: 600;
    border-radius: 3px 3px 0 0;
  }

  .section-body {
    margin: 10px;
    padding: 30px;
    // box-shadow: var(--box-shadow);
    position: relative;

    &.noBox {
      box-shadow: none;
    }
  }

  hr {
    border: none;
    height: 1px;
    background-color: var(--lightest-gray);
    margin: 0 -25px;
  }
}
