.bet-log {
  position: absolute;
  padding: 25px 25px 0;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #fff;
  width: 100%;
  transition: right 200ms ease, transform 200ms ease;
  pointer-events: none;

  &.show {
    // z-index: 1;
    right: 0;
    top: 0;
    transform: translateX(0);
    pointer-events: all;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    h4 {
      margin-left: 20px;
    }
  }

  .spread-buttons {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    display: flex;

    &.units {
      margin-bottom: 40px;
      align-items: center;
      position: relative;
    }

    &.pick {
      .right {
        display: flex;
      }
    }

    .cta {
      position: absolute;
      top: -51px;
      right: 0;
    }

    .left {
      width: 80px;
      position: relative;

      span {
        position: absolute;
        top: 2px;
        right: 5px;
      }
    }

    .right {
      width: 280px;
      padding-left: 10px;

      .team-card {
        text-align: center;
        padding: 15px 0;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        position: relative;
        border-radius: 3px;
        border: 2px solid transparent;
        transition: transform 200ms ease;

        span {
          position: absolute;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: var(--blue);
          display: flex;
          justify-content: center;
          align-items: center;
          top: -7px;
          right: -7px;
        }

        &.selected {
          border: 2px solid var(--blue);
          cursor: default;
        }

        &:first-child {
          margin-right: 20px;
        }

        img {
          width: 55px;
          height: 55px;
        }

        &:hover {
          &:not(.selected) {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
