.subscription-settings {
  max-width: 1300px;
  width: 100%;
  padding-bottom: 120px;

  .row {
    margin: 0 0 20px;
  }

  .end-row {
    margin: 0 0 40px;
  }

  .col {
    width: 200px;
  }

  .canceled-subscriptions {
    margin-top: 40px;
  }
}
