.modal-body {
  padding: 0 20px;

  .buttons {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 10;

    button {
      margin: 0 6px;
    }
  }

  .model-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 35px 0;
    cursor: pointer;

    .model-type-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 230px;
      height: 180px;
      background-color: var(--lightest-gray);
      border: 1px solid var(--gray);
      border-radius: var(--border-radius);

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &.selected {
        border: 3px solid var(--blue);
        position: relative;
        &:after {
          position: absolute;
          content: "\f00c";
          font-family: "FontAwesome";
          color: #fff;
          background-color: var(--blue);
          border-radius: 100%;
          height: 24px;
          width: 24px;
          top: -10px;
          right: -10px;
          z-index: 1;
          text-align: center;
          line-height: 24px;
          padding-left: 1px;
        }
      }
    }
  }

  .model-info-container {
    margin: 20px 0 40px;

    .model-info {
      margin: 30px 0;
    }
  }

  .specs {
    margin: 40px 0 20px;

    .title {
      margin-bottom: 25px;
    }

    .slider-container {
      padding: 0 5px;
      margin: 20px 0;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
      }
    }

    .total-specs {
      position: absolute;
      bottom: 30px;
      z-index: 100;
    }
  }
}
