.reset {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;

  .reset-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px 0;
  }

  .reset-container {
    background-color: #fff;
    text-align: left;
  }
}
