.reset {
  padding-top: 65px;

  .reset-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px 0;

    h2 {
      margin-left: 10px;
    }
  }

  .reset-container {
    background-color: #fff;
    text-align: left;
  }

}
