// Pagination Icons
.pagination {
  color: var(--font-color);
  line-height: 12px;
  cursor: pointer;
  transition: all 400ms ease;
  text-align: center;

  &.up {
    position: absolute;
    left: 50%;
    top: -5px;
    z-index: 1;
  }
  &.down {
    margin: 12px auto 0;
  }

  .pagination-icon {
    visibility: hidden;
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    color: var(--blue);
    .pagination-icon {
      visibility: visible;
    }
  }
}

.matches-container {
  width: 100%;

  .day-wrapper {
    margin-bottom: 30px;
    padding-top: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      paddin-top: 0;
    }

    .day-card {
      padding: 20px 0px;
      display: flex;
      justify-content: center;
      color: #FFF;
      background-color: var(--navy-blue);
      position: relative;

      .card-info {
        padding-top: 20px;

        &.oneGame {
          padding-top: 0;
        }
      }

      .gamesLength {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
        left: 0;

        &.oneGame {
          bottom: 15px;
        }
      }
    }
  }
}
