.forgot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;

  .forgot-header {
    text-align: center;
    margin: 15px 0;
  }

  .forgot-container, .email-sent {
    background-color: #fff;
    text-align: left;
  }

  .forgot-container {
    .password {
      height: 0;
      transition: height 200ms;

      &.show {
        height: 40px;
      }
    }
  }

  .email-sent {
    box-shadow: var(--box-shadow);
    padding: 20px;
  }

  .login-link {
    text-align: center;
    margin: 25px 0;
  }
}
