// Overview
@media (min-width: 1201px) {
  .recent-games-col {
    margin-top: -65px;
  }
}

// Summary
.summary {
  display: flex;

  &.away {
    text-align: right;
    margin-right: 30px;
  }

  &.home {
    text-align: left;
    flex-direction: row-reverse;
    margin-left: 30px;
  }

  .points {
    line-height: 42px;

    &.away {
      margin-left: 25px;
    }
    &.home {
      margin-right: 25px;
    }
  }
}

// GameLeaders
.stat-container {
  margin-top: 10px;

  .stat-label {
    margin-bottom: 5px;
    padding: 0 15px;
    border-radius: var(--border-radius);
  }

  .stats {
    background-color: var(--lightest-gray);
    border-radius: var(--border-radius);
    padding: 15px;

    .stat-position {
      margin-right: 5px;
    }
  }
}

// Quarters
.quarters-buttons {
  margin-bottom: 15px;
}

.quarters-container {
  display: flex;
  justify-content: space-between;

  &.stats {
    overflow-x: scroll
  }
  .quarters-stat {
    text-align: center;
  }
  .quarters-label {
    margin: 15px;
  }
  .quarters-value {
    margin-bottom: 15px;
  }
}

// Recent Games
.recent-games {
  .recent-games-header {
    margin-bottom: 25px;
  }

  .recent-games-match {
    padding: 15px;
    position: relative;

    &:last-child {
      padding: 15px 15px 0 15px;
    }

    &:not(:last-child):after {
      content: '';
      width: calc(100% + 40px);
      border-bottom: 1px solid var(--light-gray);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      margin: 0 -20px;
    }
  }
}

// Starting Lineup
.starting-lineup {
  .starter {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
