.toggles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;

  .toggle-container {
    flex: 1;

    .label {
      margin-bottom: 8px;
    }
  }
}
