.value {
  background: var(--lightest-gray);
  padding: 20px 0;
  margin: 0 10px;
  border-radius: 3px;
}

.spread-value {
  color: #fff;
  padding: 20px 0;
  margin: 0 10px;
  position: relative;

  &.winner {
    color: var(--font-color);
  }

  .check {
    position: absolute;
    right: -5px;
  }
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
