.value {
  background: lighten(#F4F5F7, 1%);
  padding: 20px 0;
  margin: 0 10px;

  &:hover {
    transition: all 500ms ease;
    background: linear-gradient(45deg, #f7f8f9, #F4F5F7);
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
