.value {
  background: lighten(#F4F5F7, 1.5%);
  padding: 20px 0;
  margin: 0 10px;

  &:hover {
    transition: all 500ms ease;
    background: linear-gradient(45deg, #f7f8f9, #F4F5F7);
  }
}

.spread-value {
  color: #fff;
  padding: 20px 0;
  margin: 0 10px;
  position: relative;

  &.winner {
    color: var(--font-color);
  }

  .check {
    position: absolute;
    right: -5px;
  }
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
