.login {
  position: relative;
  height: 100%;

  .login-header {
    margin: 30px 0;
  }

  .login-links {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .error-dialog {
    border: 1px solid #e0b4b4;
    color: #9f3a38;
    background-color: #fff6f6;
    font-size: 11px;
    text-align: center;
    padding: 12px;
    position: absolute;
    top: -200px;
    left: 5vw;
    // box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .28), 0 0 1px rgba(9, 30, 66, .3);
    transition: all 200ms ease;
    &.open {
      top: -106px;
    }

    div {
      opacity: .6;
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
    }
  }

  .login-container {
    background-color: #fff;
    // padding: 48px;
    text-align: left;

    .password {
      height: 0;
      transition: height 200ms;

      &.show {
        height: 40px;
      }
    }
  }
}
