.card-info-container {
  width: 720px;
  text-align: left;

  .card-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .update {
    position: absolute;
    right: -75px;
  }
}
