.features {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding-top: 95px;
  border-top: 1px solid #f2f2f2;

  @media only screen and (min-width: 600px) {
    padding-top: 120px;
  }

  .col-1000 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (min-width: 600px) {
      justify-content: start;
    }
  }

  .feature {
    display: flex;
    float: left;
    margin-bottom: 120px;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-basis: 100%;

    @media only screen and (min-width: 600px) {
      justify-content: start;
      text-align: left;
      flex-direction: row;
      flex-basis: 50%;
    }

    @media only screen and (min-width: 960px) {
      flex-basis: 33.33%;
    }

    .left {
      margin: 0 0 25px;

      @media only screen and (min-width: 600px) {
        margin: 0 25px 0 0;
      }
    }

    .right {
      h2 {
        margin: -5px 0 0 0;
        font-size: 21px;
        font-weight: 400;
        color: #2a2a2a;
      }

      p {
        margin: 15px 0 0 0;
        font-size: 17px;
        color: #737376;
        font-weight: 300;
        letter-spacing: .3px;
        line-height: 25px;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }
  }
}
