.sidenav {
  padding: 25px;
  flex: 1;
  min-width: 150px;
  border-right: 1px solid var(--light-gray);
  display: none;

  @media only screen and (min-width: 480px) {
    display: block;
  }

  .help-item {
    display: flex;
    align-items: center;

    .left {
      flex: 1;
      text-align: left;
    }

    .right {
      flex: 1;
      text-align: right;
    }

    &:hover {
      transition: all 200ms ease;
      color: var(--blue);
    }
  }
}
