.toggle {

  .box {
    width: 60px;
    height: 30px;
    // border: 1px solid var(--dark-gray);
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: all 200ms ease;
    // change background color of toggle button
    &.unchecked {
      background: var(--light-gray);
    }
    &.checked {
      background: var(--blue);
    }

    // style for toggle button
    &:before {
      font-family: "FontAwesome";
      box-shadow: 1px 1px 1px var(--gray);
      content: attr((data-background-unchecked));
      color: var(--dark-gray);
      text-align: center;
      line-height: 25px;
      font-size: 11px;
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 15px;
      background: #FFF;
      left: 2.5px;
      top: 3px;
      transition: all 200ms ease;
    }
  }
  // clear default checkbox
  input {
    opacity: 0;
  }
  // offset pseudoselector when checked
  input[type=checkbox]:checked + .box:before {
    box-shadow: 1px 1px 1px var(--dark-blue);
    color: var(--blue);
    left: 31.5px;
    content: attr((data-background-checked));
  }
}
