.models {
  margin-left: 65px;
  height: calc(100% - 60px);
  max-width: 1600px;

  .model-overlay {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
  }

  .model-list {
    margin-top: 35px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 65px;
  }
}
