.models {
  padding: 65px;
  height: calc(100% - 60px);

  .model-overlay {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
  }

  .model-list {
    margin-top: 35px;
    position: relative;
    overflow-x: hidden;
    height: calc(100vh - 150px);
    padding-bottom: 45px;

    .model-card {
      height: 450px;
      margin: 0 35px 35px 0;
      width: 442px;

      &:hover {
        .upper {
          height: calc(100% - 87px);
        }
      }

      .upper {
        height: 50%;
        position: relative;
        padding: 30px;
        color: #fff;
        margin: 0;
        border-radius: 3px 3px 0 0;
        transition: all 300ms ease;
        transition-delay: 100ms;

        &.disabled {
          color: var(--dark-gray);
        }
      }

      .graph-wrapper {
        width: 70%;
        position: absolute;
        z-index: 1;
        background-color: #FFF;
        padding: 35px 30px 15px 20px;
        border-radius: var(--border-radius);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 4px var(--gray);
        border: 1px solid var(--lightest-gray);
      }

      .lower {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 10px;
        margin: 0;
        padding: 25px;
      }

      .overlay {
        position: absolute;
        overflow: hidden;
        width: 100%;
        transition: all 300ms ease;
        transition-delay: 100ms;
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;

        &.show {
          height: 87px;
        }

        .overlay-content {
          display: flex;
          justify-content: flex-end;
          overflow: hidden;
          padding: 26px 25px;
          position: relative;

          .toggle {
            position: absolute;
            left: 50px;
            bottom: 25px;
          }

          .buttons {
            position: relative;
            margin-left: 20px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            padding-top: 9px;
            transition: all 200ms ease;
            cursor: pointer;

            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &:hover {
              background-color: var(--light-gray);
            }
          }
        }
      }
    }
  }
}
