.how-to {
  padding: 0 0 50px;
  background-color: rgba(255, 255, 255, 0.8);

  .col-1000 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-2 {
    flex-basis: 100%;
    margin: 20px 0 50px;
    padding: 0 18%;
  }

  .info-1 {
    margin: 30px 0;
    flex-basis: 100%;

    @media only screen and (min-width: 600px) {
      margin: 0;
      flex-basis: 50%;
    }

    @media only screen and (min-width: 840px) {
      flex-basis: 33.33%;
    }
  }

  .info-2 {
    margin: 30px 0;
    flex-basis: 100%;

    @media only screen and (min-width: 600px) {
      margin: 0;
    }

    @media only screen and (min-width: 840px) {
      flex-basis: 33.33%
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: #737376;
  }
}
