.settings {
  display: flex;
  height: 100%;
  margin: 50px;
  max-width: 1600px;
  min-width: 960px;

  .settings-content {
    width: calc(100% - 180px);
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .settings-header {
    text-align: center;
    margin-bottom: 50px;
    line-height: 20px;
  }
}
