.terms-of-service {
  flex: 5;
  padding: 25px 40px 50px;

  header {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .sub-section {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .sub-header {
      font-weight: 600;
    }

    .description {
      margin-left: 15px;
    }

    li {
      list-style: initial;
      margin-left: 45px;
    }

    .footer {
      font-style: italic;
    }
  }
}
